# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

package-lock.json

**/sqlite.db
*.local
dist/
**/dist/
**/typs/
**/electron-builder.json5

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

./pnpm-lock.yaml
pnpm-lock.yaml
node_modules/
./**/node_modules/
./sub_projects/**/types/
./sub_projects/**/dist/
./sub_projects/**/build/
